/* .item {
  background-color: #181818;
  border-radius: 5px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

p {
  margin: none !important;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.img {
  max-width: 150px;
  max-height: 150px;
  margin-bottom: 10px;
}

.buttonbox {
  display: flex;
  gap: 10px;
}

.buttonbox button {
  padding: 5px 10px;
}
