.infobox {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: #646cff;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
}

.infobox img {
  width: 40%;
  height: auto;
  cursor: pointer;
}

@media (max-width: 768px) {
  .infobox img {
    width: 80%;
  }

  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .infobox img {
    width: 100%;
  }

  .title {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 0.8rem;
  }
}

.loader {
  text-align: center;
  font-size: 1.5em;
  color: #0070f3;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #242424;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.button {
  background-color: #0070f3;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-right: 10px;
}

/* .button:hover {
  background-color: #0070f3;
} */

.closeButton {
  background-color: #e53e3e;
  color: black;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* .closeButton:hover {
  background-color: #c53030;
} */
