.items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 20px;
  padding: 1em;
  height: 80%;
  width: 100%;
  overflow-x: hidden;
}

.item {
  background-color: #181818;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 310px;
  margin-bottom: 1em;
}

p {
  margin: 0 !important;
}

.item img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.buttonbox {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

.title {
  color: #646cff;
}
