.items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 1em;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 1em;
  width: 100%;
  overflow-x: hidden;
}

.item {
  background-color: #181818;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: calc(25% - 1em);
  height: 310px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.item.visible {
  opacity: 1;
  transform: translateY(0);
}

.item img {
  width: 100%;
  object-fit: cover;
  height: 210px;
}

.buttonbox {
  display: flex;
  gap: 5px;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}

.button {
  padding: 1rem;
}

.button svg {
  width: 25px;
  height: 25px;
}

.button:hover svg {
  color: #646cff;
}

.title {
  color: #646cff;
}

.imgbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imgbox img {
  width: 80%;
  height: 80%;
  object-fit: scale-down;
  height: 100dvh;
  height: 100vh;
}
