/* LogInModal.module.css */

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.item {
  background-color: #181818;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 100%;
}

p {
  margin: none !important;
}

.item img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.buttonbox {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}
