.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 1rem 0.5rem;
}

.buttonbox {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.button,
.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.button svg {
  margin-left: 10px;
}

.logobox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.logo {
  height: 50px;
}

.landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

/* Media Queries for Responsiveness */
@media (max-width: 675px) {
  h3 {
    margin: 0;
    align-self: start;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .button {
    width: 100%;
  }

  .buttonbox {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .landing span {
    display: none;
  }

  .button {
    justify-content: center;
  }

  .button span {
    display: none;
  }
}
