.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
  padding: 1rem;
}

.buttonbox {
  display: flex;
  gap: 1em;
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
}

.button svg {
  margin-left: 10px;
}

.logobox {
  display: flex;
  align-items: center;
  gap: 1em;
}

.logo {
  height: 50px;
}
