:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Ensure dark mode settings */
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
  color: #535bf2;
}

input {
  padding: 5px;
  background-color: inherit;
  outline: none;
  border: 1px solid grey;
}

input[type="text"]:focus {
  border-color: #646cff;
  background-color: inherit;
  outline: none;
}

input[type="email"]:focus {
  border-color: #646cff;
  background-color: inherit;
  outline: none;
}

input[type="password"]:focus {
  border-color: #646cff;
  background-color: inherit;
  outline: none;
}

/* Ensure dark mode on all browsers */
html,
body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}
