.modal {
  background: black;
  padding: 20px;
  width: 600px;
  height: 400px;
  max-width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
form {
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 10px;
}

form label {
  margin-bottom: 5px;
}

form input {
  padding: 8px;
  font-size: 16px;
}

form button {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container img {
  height: auto;
  max-width: 100%;
  will-change: filter;
  transition: filter 300ms;
}

.title {
  font-size: 2.5em;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.form label {
  margin-bottom: 5px;
  margin-top: 5px;
  text-align: left;
  font-size: 1.2em;
}

.form input {
  outline: none;
}

.form button {
  margin-top: 10px;
}

.subtitle {
  margin-top: 20px;
}

input.invalid {
  border-color: red;
}

.error {
  color: #646cff;
  padding: 0.5rem;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .login {
    flex-direction: column-reverse;
  }
}

.buttonBox {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding-top: 2rem;
  padding-bottom: 1rem;
  width: 90%;
}

.button {
  flex: 1 1 auto;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
  box-sizing: border-box;
}

.button svg {
  margin-left: 5px;
}

.closebtn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  padding: 5px;
  width: 30px;
  cursor: pointer;
}
